.Error {
	height: 100vh;
	position: relative;

	&__details {

	}

	&__body {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 16px;
		box-sizing: border-box;
	}

	&__sad {
		width: 72px;
		height: 72px;
		background: url("./img/error.png") no-repeat center center/cover;
		margin: 0 auto 20px;
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		color: #2C2D2E;
		text-align: center;
		line-height: 34px;
	}

	&__bottom {
		padding: 25px;
	}

	&__to-details {
		padding-bottom: 15px;
	}

	&__details {
		$borderRadius: 14px;
		background: #ffffff;
		padding: 16px;
		border-radius: $borderRadius $borderRadius 0 0;
		box-sizing: border-box;
		min-height: 150px;
	}

	&__details-header {
		font-weight: 600;
		font-size: 17px;
		color: #222222;
		line-height: 20px;
		padding-bottom: 12px;
	}

	&__details-text {
		font-size: 15px;
		color: #000000;
		line-height: 20px;
	}

	&__close {
		text-align: center;
		width: 100%;

		a {
			color: var(--button_secondary_foreground);
			font-weight: 500;
		}
	}
}
