.ErrorMobile {
	height: 100vh;
	position: relative;
	background: #FFFFFF;
	@supports(--css: variables) {
		background: var(--popup-background);
	}

	&__details {

	}

	&__body {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 16px;
		box-sizing: border-box;
	}

	&__sad {
		width: 72px;
		height: 72px;
		border-radius: 50%;
		background: transparent url("./img/error.png") no-repeat center center/cover;
		margin: 0 auto 20px;

		@media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			background: transparent url("./img/error_2x.png") no-repeat center center/cover;
		}
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		color: #222222;
		@supports(--css: variables) {
			color: var(--title-color);
		}
		text-align: center;
		line-height: 34px;
	}

	&__bottom {
		padding: 25px;
	}

	&__to-details + &__close {
		padding-top: 15px;
	}

	&__details {
		$borderRadius: 14px;
		background: #FFFFFF;
		@supports(--css: variables) {
			background: var(--popup-background);
		}
		padding: 16px;
		border-radius: $borderRadius $borderRadius 0 0;
		box-sizing: border-box;
		min-height: 150px;
		word-break: break-word;
	}

	&__details-header {
		font-weight: 600;
		font-size: 17px;
		color: #222222;
		@supports(--css: variables) {
			color: var(--title-color);
		}
		line-height: 21px;
		padding-bottom: 12px;
		padding-right: 30px;
	}

	&__details-text {
		font-size: 15px;
		line-height: 20px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	&__close {
		text-align: center;
		width: 100%;

		a {
			color: #45678f;
			@supports(--css: variables) {
				color: var(--button_secondary_foreground);
			}
			font-weight: 500;
		}
	}
}
